#footer {
    background-color: #060e15;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    padding: 2px;
    height: 70px;
    width: 100%;
}

#lower-divider {
    position: absolute;
    background-color: #5c7e98;
    height: 3px;
    width: 100%;
    top: 0px;
}

#lower-options {
    display: flex;
    justify-content: space-between;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 14px;
}

#lower-options img {
    height: 42px;
}